<%# @markets_all.each do |market| %>
<ul>
  <li>
    <%= link_to "View All Markets", users_markets_path %>
  </li>
  <li>
    <%= link_to "I am a Market", markets_path %>
  </li>
  <li>
    <%= link_to "I am a Vendor", vendors_home_path %>
  </li>
</ul>
