<h1>Markets for users and market </h1>

<ul>
<% if @link == 'market' %>
     <%= link_to "create a Market", new_market_path %>
     <% @markets.each do |market| %>
     <li> <%=link_to market.name, market_path(market.id) %></li>
   <% end  %>
<% elsif @link == "user"%>
      <% @markets.each do |market| %>
      <li> <%= link_to market.name, user_show_path(market.id) %></li>
      <% end %>
<% end %>
</ul>
