<section id="main">
  <h1>Farmers Markets</h1>
  <section id="menu">
    <%= link_to "View Markets | ", markets_user_all_path%>
    <%= link_to "Market Access | ", markets_path %>
    <%= link_to "Vendor Access", vendors_path %>
  </section>
</section>
